*{
    --color-white: hsl(0, 0%, 100%);
    --color-desturated-white: hsla(0, 0%, 100%, 0.623);
    --color-orangish: hsl(13, 100%, 72%);
    --color-redish: hsl(353, 100%, 62%);
    --color-blueish: hsl(208, 49%, 24%);
    --color-grayish-blue: hsl(207, 13%, 34%);
    --color-dark-black-blue: hsl(240, 10%, 16%);
    --color-very-dark-gray-blue: hsl(237, 17%, 21%);
    --color-very-dark-desaturated-blue: hsl(237, 23%, 32%);

    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    font-size: 16px;
    box-sizing: border-box;

    font-family: Overpass, Ubuntu, sans-serif;

    cursor:default;
}
body{
    width: 100%;
    margin: 0;
}


